server:
  port: 8080
spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: classpath:config

logging:
  level:
    org.springframework.cloud.config: DEBUG