server:
  port: 8081
spring:
  application:
    name: user-service
  cloud:
    discovery:
      client:
        service-url:
          defaultZone: http://localhost:8761/eureka
  datasource:
    url: jdbc:postgresql://localhost:5432/userservicedb
    username: myuser
    password: mypassword
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false
